backend:
  name: git-gateway
  branch: master

media_folder: static/img
public_folder: /img
publish_mode: editorial_workflow

collections:
  - name: "blog"
    label: "Blog"
    folder: "src/pages/blog"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "blog-post"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Description", name: "description", widget: "text"}
      - {label: "Body", name: "body", widget: "markdown"}
      - {label: "Tags", name: "tags", widget: "list"}

  - name: "pages"
    label: "Pages"
    files:
      - file: "src/pages/about/index.md"
        label: "About"
        name: "about"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "about-page"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Body", name: "body", widget: "markdown"}
      - file: "src/pages/home/index.md"
        label: "Home"
        name: "home"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "home-page"}
          - {
            label: "Heroes",
            name: "heroes",
            required: true,
            widget: "object",
            fields:
              [
                {
                  label: "Main Hero",
                  name: "heroMain",
                  required: true,
                  widget: list,
                  fields: [
                    { label: "Heading", name: "heading", widget: "string" },
                    { label: "Subheading", name: "subheading", required: false, widget: "string" },
                    { label: "Body", name: "body", required: false, widget: "markdown" },
                    {
                      label: "Button",
                      name: "button",
                      widget: "object",
                      required: false,
                      fields: [
                        { label: "Text", name: "text", widget: "string" },
                        { label: "URL", name: "url", widget: "string" }
                      ]
                    }
                  ]
                }
              ]
            }